body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

#container{
	width: 80%;
	margin: auto;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#title{
	font-size: 2em;
	display: block;
	margin-top: 10vh;
	margin-bottom: 5vh;
}

#click-me{
	display: block;
	height: 50px;
	padding: 0 10px;
	font-size: 1em;
	margin: auto;
	margin-bottom: 5vh;
	background-color: black;
	color: white;
	border: none;
}

#click-me:hover{
	transform: scale(1.1);
}

#display-joke{
	font-size: 1.3em;
	text-align: center;
	width: 80%;
}

#display-joke p{
	display: inline;
	font-style: italic;
}